.post {
    background-color: #fff;
    width: 560px;
    margin-bottom: 10px;
}

.post:last-child {
    margin-bottom: 0;
}

.post__body {
    color: rgba(0, 0, 0, 0.87);
    padding: 12px 19px;
}

.post__title {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.8px;
}

.post__description {
    letter-spacing: 0.56px;

    font-size: 14px;
    margin-top: 5px;
}

.post__footer {
    padding: 10px 19px;
    position: relative;
}

.post__footer::before {
    content: "";
    position: absolute;
    height: 0.5px;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.12;
    background-color: #000;
}